*
{
	padding: 0px;
	margin:0px;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
}
ul
{
	list-style: none;
}
#top{
	width:100%;
	height:32px;
	border-bottom:1px solid #c7c7c7;
	background:url("../images/liangpin/top-bg.png") repeat;
}
#top_container{
	width:1200px;
	margin:0 auto;
}
#top_left{
	float:left;
}
#top_right{
	float:right;
}
#top li{
	float:left;
}
#top li a{
	padding:0 13px 0 12px;
	height:32px;
	line-height: 32px;
	color:#666;
	font-size: 12px;
	border-right: 1px solid #ddd;
	text-decoration: none;
}
#top li:last-child a{
	border-right: none;
}
#top li a:hover{
	text-decoration: underline;
}

#header{
	background:white;
}
#header_container{
	width:1200px;
	margin:0 auto;
}
#header_container div{
	display: inline-block;
}
#header_nav{
	margin-left: 130px;
}
#header_list li{
	float:left;
	height:70px;
	width:102px;
}
#header_list li a{
	display:block;
	width:64px;
	height:40px;
	line-height: 40px;
	padding:0 18px;
	color:#666;
	font-size: 16px;
	position: relative;
	top:50%;
	transform: translate(0,-50%);
	text-decoration: none;
}
#header_list li a:hover{
	background:#F4F4F4;
	color: #185;
}

#header_search{
	margin-top: 15px;
	font-size: 0;
	float:right;
}
#search_text{
	width:220px;
	height:14px;
	padding:12px 0;
	border:1px solid #185;
	margin:0;
	float:left;
}
#search_btn{
	width:40px;
	height:40px;
	border:1px solid #183;
	background:url("../images/liangpin/header-search.png");
	float:left;
}
.liangpin-inner
{
	width: 1200px;
	margin:0 auto;
}
.main-content
{
	clear: both;
}
.content-left
{
	width: 890px;
	float: left;
	padding: 12px 0 0;
}
.item
{
	color: #333;
	font-size: 12px;
	margin-bottom: 30px;
	display: block;
}
.tit
{
	margin-left: 4px;
	margin-bottom: 6px;
	position: relative;
	padding-left: 6px;
	line-height: 16px;
	border-left: 4px solid #185;
	font-family: "微软雅黑";
}
a
{
	text-decoration: none;
}
.tit p
{
	font-size: 16px;

}
.jinxing,.jieshu
{
	position: absolute;
	font-size: 14px;
	right: 0;
	bottom: 0;
	
}
.jinxing
{
	color: #185;
}
.jieshu
{
	color: #999;
}
.content-left div .tit
{
	border-left: 4px solid #999;
}
#content-right{
	width:300px;
	height:800px;
	background:#FAFAFA;
	float:right;
	
}
#content-right>div{
	border:1px solid #ddd;
	margin-bottom: 10px;
}
.content-right_head{
	width:266px;
	height:39px;
	padding:0 16px;
	line-height: 39px;
	border-bottom: 1px solid #ddd;
	margin:0 auto;
	background:#FFFFFF;
}
.content-right_head_title{
	float:left;
	font-size: 16px;
	color:#333;
}
.content-right_head_desc{
	float:right;
	font-size: 12px;
	color:#aaa;
}

#wish_content{
	padding:0 10px;
}

#wish_phone{
	margin:10px 0;
	height:74px;
}
#wish_phone dt{
	height:74px;
	line-height: 74px;
	text-align: center;
	width:60px;
	float:left;
	color:#888;
	font-size: 12px;
}
#wish_phone dd{
	float:left;
	width:218px;
}
#wish_phone dd span{
	display: inline-block;
	float:left;
	width:100px;
	height:28px;
	border:2px solid transparent;
	text-align: center;
	line-height: 28px;
	font-size: 12px;
	margin: 0 0 5px 5px;
	background:#E8E8E8;
	border-radius: 5px;
}
#wish_phone dd .wish_phone_selected{
	background:#C9E7D7;
	border:2px solid #4BB07B;
}

#wish_price{
	margin:10px 0;
	height:30px;
}
#wish_price dt{
	height:30px;
	line-height: 30px;
	text-align: center;
	width:60px;
	float:left;
	color:#888;
	font-size: 12px;
}
#wish_price dd input{
	width:80px;
	height:16px;
	padding:6px 4px;
	border:1px solid #DDD;
	margin-right: 3px;
	margin-left: 5px;
}
#wish_price dd span{
	font-size: 12px;
	color:#888;
}
#wish_submit{
	margin:10px auto;
	width:56px;
	height:19px;
	padding:5px 20px;
	background:#4FAF7C;
	color:white;
	cursor: pointer;
	border-radius: 4px;
}
#wish_bottom{
	margin: 10px auto;
	height:18px;
	line-height: 18px;
	text-align: center;
	font-size: 12px;
	color:#888;
}


#watch_content{
	width:298px;
	height:226px;
	background:white;
}


#focus_content{
	width:298px;
	background:white;
}
#code_container{
	width:280px;
	margin:0 auto;
	border-bottom: 1px dashed #888;
	
}
#code_container::after{
	content:"";
	display: block;
	clear:both;
}
#code_img_box{
	float:left;
}
#code_desc_box{
	float:left;
}
#code_desc_box p:nth-child(1){
	height:36px;
	line-height: 36px;
	color:#185;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
#code_desc_box p:nth-child(2){
	height:24px;
	line-height: 24px;
	color:black;
	font-size: 14px;
	text-align: center;
}

#code_desc_box p:nth-child(3){
	height:30px;
	line-height: 30px;
	color:#185;
	font-size: 20px;
	text-align: center;
	margin-top: 24px;
	font-weight: bold;
}

#weibo_container{
	height:34px;
	width:280px;
	margin:0 auto;
	padding:5px 0;
	border-bottom: 1px dashed #888
}
#weibo_container::after{
	content:"";
	display: block;
	clear:both;
}
#weibo_container img{
	float:left;
	margin:0 10px;
}
#weibo_container span{
	float:left;	
	line-height: 34px;
}
#weibo_container span:first-of-type{
	font-size: 16px;
}
#weibo_container span:last-of-type{
	font-size: 12px;
	color:#888;
	float:right;
}

#qq_container{
	width:280px;
	margin:0 auto;
	padding:5px 0;
}
#qq_container::after{
	content:"";
	display: block;
	clear:both;
}
#qq_container img{
	float:left;
	margin:0 10px;
}
#qq_cont{
	/*display: inline-block;*/
	float:left;
}
#qq_cont p{
	font-size: 16px;
	line-height: 34px;
}
#qq_cont span{
	display: block;
	height:30px;
	line-height: 30px;
	color:#185;
	font-size: 16px;
}
#focus_bottom{
	width:238px;
	margin:0 auto;
	font-size: 14px;
	color:#88C3AA;
	line-height: 18px;
	padding-bottom: 10px;
}
#list_content{
	background:white;
	width:298px;
}
#list_content ul li{
	margin:0 auto;
	width:258px;
	height:70px;
	padding:10px;
	border-bottom: 1px dashed #888;
} 
#list_content ul li:last-child{
	border-bottom: none;
}
#list_content ul li .list_img{
	float:left;
}
#list_content ul li .list_detail{
	float:left;
	margin-right: 10px;
}
#list_content ul li .list_detail .list_detail_tel{
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 10px;
}
#list_content ul li .list_detail .list_detail_desc{
	font-size: 12px;
	color:#888;
	line-height: 18px;
}
.doc-ft
{
	clear: both;
	background: #fafafa;
	border-top: 1px solid #e5e5e5;
	padding-bottom: 40px;
	text-align: center;
}
.foot-nav
{
	width: 1200px;
	font-family: "微软雅黑 宋体";
	padding: 20px 0;
	border-bottom: 1px solid #EEEEEE;
	margin:0 auto;
	display: block;
	vertical-align: middle;
	font-size: 0;
}
.buy
{
	width: 16%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	// margin-left: -10px;
}

.shops,.shops1,.shops2,.shops3,.shops4
{
	float: left;
	width: 43px;
	height: 43px;
	display: inline-block;
	background: url(../images/shouye/buy.gif)no-repeat;
}
.shops1
{
	background-position: 0 -44px;
}
.shops2
{
	background-position: 0 -88px;
}
.shops3
{
	background-position: 0 -132px;
}
.shops4
{
	background-position: 0 -176px;
}
.foots
{
	width: 112px;
	display: inline-block;
	vertical-align: top;
}
.foots li
{
	width: 112px;
	vertical-align: top;
}

.foots a
{
	line-height: 26px;
	display: block;
	font-size: 12px;
	color: #333;
}
.foots li:first-child
{
	height: 36px;
	line-height: 36px;
	font-weight: bolder;
	font-size: 16px;
}
.foots a:hover
{
	text-decoration: underline;
}
.jiameng
{
	color: #239BF8;
}
.last-buy
{
	width: 20%;
	text-align: center;
	color: #999;
	font-size: 16px;
	display: inline-block;
}
.phone-call
{
	font-size: 26px;
	color: #185;
}
.zixun-btn
{
	width: 160px;
	height: 35px;
	line-height: 35px;
	font-size: 18px;
	border-radius: 5px;
	background: #185;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 40px;
}
.wx
{
	margin-top: 10px;
	font-size: 14px;

}
.link
{
	padding-top: 22px;
	line-height: 24px;

}
.copy-right-info p
{
	font-size: 12px;
	color: #666;
}
.link a
{
	margin: 0 12px;
	color: #666;
}
.link a:hover
{
	text-decoration: underline;
}
.item1
{
	display: inline-block;
}
.fix
{
	position: fixed;
	top: 0;
	z-index: 2222;
	width: 100%;
}
.fixed
{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	display: block;
}
.fixImg
{
	width: 71px;
	height: 165px;
	position: absolute;
	right: -72px;
	top: 300px;
	background: url(../images/shouye/fixed.png)-78px 0;
}
